.slider {
    display: inline-block;
    width: 90%;
    padding: auto;
    margin: auto;
}

.field-slider {
    min-width: 400px;
}

.inline-related.tabular fieldset.module table {
    width: 200px;
}

.form-row {
    border-bottom: none;
}

thead th {
    background: #fff;
}

thead th,
tfoot td {
    border-top: none;
    border-bottom: none;
}

tfoot td {
    border-bottom: none;
    border-top: none;
}

td, th {
    border-bottom: none;
}